h1 {
  margin-bottom:200px;
  font-size:40px;
}
h2 {
  margin-top:200px;
  font-size:40px;
}
h3 {
  margin-top:200px;
  font-size:40px;
}
h4 {
  margin-top:200px;
  font-size:40px;
}
h5 {
  margin-top:200px;
  font-size:40px;
}
hr {
  border: 2px solid #8045e5;
}
p {
  margin-top: 2em;
  line-height:2;
}
a {
  font-size:14px;
  color: #579aca; 
  text-decoration: underline; 
  text-decoration-color: #579aca;
}
a:hover {
  font-size:14px;
  color: #8045e5;
  text-decoration: underline;
  text-decoration-color: #8045e5;
}
strong {
  font-weight:bold;
  color:#B33A3A;
}




.base {
  width: 40em; /* 幅を40文字にこてい */
  margin: 0 auto; /* 中央に配置 */
  text-align: left; /* 左寄せ */
}




@media (max-width: 768px) {
  .base {
      width: auto; /* 幅を画面に合わせる */
      margin: 0; /* マージンを無効 */
      text-align: left; /* 左寄せ */
  }
}